.fade {
    color: #FFFFFF;
    font-size: 10rem;
    padding: 2rem 3rem 2rem 12rem;
}
.icons{
    display: flex;
    
}


.icons > a {
   
    color:white;
    transition: transform 1s;
    padding: 0rem 3rem 0rem 10rem;
    /* z-index: 2; */
    

    
}

.icons > a :hover{
    transition-duration: 3000ms;
    transform: scale(1.1);
    overflow: hidden;
}
   

