/* .aboutme{
padding-bottom: 2rem;
} */


.back{
    z-index: -1;
    font-weight: 400;
    font-size: 10rem;
    /* margin-top: 12rem; */
    /* margin-bottom: 12rem; */
    color: #dee2e6;
    
}

.back > p{
    padding: 5rem 3rem 2rem 10rem;
    
}

.front {
    font-size: 2rem;
}

.front > p{
    padding: 1rem 3rem 5rem 12rem;
    
}